.a{
   
   color:red;
   font-family:cursive;

   background-color: yellow;
   
}

#b{

    color: yellow;
    font-family: cursive;
    background-color: red;

}

.c{

	color: #98fb98;
	font-family: cursive;
	background-color: #00008b;

}

.d{

	color: #0000cd;
	font-family: cursive;
	background-color:aqua;

}
	